**/*.idea
**/*.vscode/**
**/*.ipynb_checkpoints/**
**/*__pycache__/**
*.pyc
*.o
*.so
*.obj
*.exe
*.dll
*.lib
*.txt
*.mid
*.midi
*.wav
*.mp3
*.ipynb

model

bin/
build/
data/
models/
venv/

!CMakeLists.txt
!requirements.txt
